In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
   Let’s dive into the world of databases and explore the differences between SQL (Structured Query Language) and NoSQL (Non-relational) databases:

Definition:
SQL Databases (Relational Databases):
These databases follow a structured format and are based on tables with predefined schemas.
They use SQL for defining, querying, and manipulating data.
NoSQL Databases (Non-relational or Distributed Databases):
These databases have a flexible schema, allowing them to handle unstructured data.
They can be document-oriented, column-oriented, graph-based, or key-value stores.
Language:
SQL Databases:
Use SQL for data manipulation.
Powerful for complex queries.
Requires predefined schemas.
NoSQL Databases:
Use dynamic schemas.
Data can be added without a predefined structure.
Each document can have a unique structure.
Scalability:
SQL Databases:
Vertically scalable (add resources to a single server).
NoSQL Databases:
Horizontally scalable (add more servers).
Preferred for large or dynamic data sets.
Structure:
SQL Databases:
Table-based structure.
Suitable for multi-row transactions (e.g., accounting systems).
NoSQL Databases:
Key-value pairs, document-based, graph databases, or wide-column stores.

In [ ]:
Here’s a simple example::

In [ ]:
SQL (Structured):
Product table:
    {"id":"101", "category":"food", "name":"Apple", "qty":150}

NoSQL (Unstructured):
Products:
    [
        {"id":"101","category":"food","name":"California Apples"},
        {"id":"102", "category":"beverage", "name": "Orange Juice"}
        
    ]

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL:
    DDL is a subset of SQL (Structured Query Language) used for defining and managing database structures.
It includes commands to create, modify, and delete database objects.

In [ ]:
CREATE:
    The CREATE command is used to create a new table in SQL.
    
Syntax:
    CREATE TABLE table_name(
        column_1 datatype,
        column_2 datatype,
        .........
    );
Example: Suppose we want to create a table to store student information in a college:
    
    CREATE TABLE Student_info(
        College_Id number(2),
        College_name varchar(30),
        Branch varchar(10)
    );

In [ ]:
ALTER:The ALTER command modifies an existing table by adding, deleting, or changing columns.

Syntax to add a column:
    ALTER TABLE table_name ADD column_name datatypes;

    
Example: To add a new column for CGPA in our Student_info table:
              ALTER TABLE Student_info ADD CGPA number;

In [ ]:
TRUNCATE:The TRUNCATE command removes all rows from a table while preserving its structure.

Syntax:
    TRUNCATE TABLE table_name;
    
Example: If the college wants to remove student details for new batches but keep the table structure:
    TRUNCATE TABLE Student_info;

In [ ]:
DROP: 
    The DROP command deletes an existing table along with its structure from the database.
Syntax:
    DROP TABLE table_name;

Example: If the college wants to delete the Student_info table entirely:
    
DROP TABLE Student_info;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
 DML:
       DML stands for Data Manipulation Language. It's a subset of SQL (Structured Query Language) used for manipulating data within database objects such as tables. DML commands are primarily used to insert, update, delete, and retrieve data from a database.

In [ ]:
INSERT:
The INSERT statement adds new records (rows) into a table.

Syntax:
    INSERT INTO table_name (column1, column2 ,.........)
    VALUES (value1 , values2,...................)
Example: Suppose we want to add a new patient record to the Patient table:
    INSERT INTO Patient (PatientID , Surname , FirstName , DOB,Sex,Weight,Height,Vaccinated)
    VALUES (15225,'Johnson', 'Emma', '05/05/2020','F',18.7,26.5,'N');

In [ ]:
UPDATE:
The UPDATE statement modifies existing records in a table.
Syntax:
    UPDATE table_name
    SET column1 = value1, column2 = value2,...........
    WHERE condition;

Example: To update the weight of patient Arjun Agarwal:
    UPDATE Patient
    SET Weight = 29.5
    WHERE FirstName = 'Arjun' AND Surname = 'Agarwal';

In [ ]:
DELETE:
The DELETE statement removes records from a table.
Syntax:
    DELETE FROM table_name
    WHERE condition;

Example: To delete records of patients who are not vaccinated:
    DELETE FROM Patient
    WHERE Vaccinated = 'N';

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL Overview:
    DQL deals with querying and retrieving data from the database.
The primary command in DQL is the SELECT statement.
It allows you to retrieve specific columns or all columns from one or more tables.
 
    
SELECT Statement Syntax:
    The basic syntax for the SELECT statement is as follows:
        SELECT column1, column2,.....
        FROM table_name
        WHERE condition;
        
Example: Suppose we have a table called Employees with the following columns: EmployeeID, FirstName, LastName, Salary, and Department. To retrieve the first and last names of employees whose salary is greater than $50,000:
    
SELECT FirstName, LastName
FROM Employees
WHERE Salary > 50000;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
Primary Key:
    A primary key is a column or a set of columns in a table whose values uniquely identify each row in that table. It ensures the integrity and uniqueness of the data within the table. Here are some key points about primary keys:

Uniqueness: Each value in a primary key column must be unique within the table. No two rows can have the same value for the primary key column(s).
Non-null: Primary key columns cannot contain null values. Each row must have a value in the primary key column(s).
Indexed: Primary keys are automatically indexed by most database systems for faster retrieval of data.
Declares entity integrity: It ensures that each row in the table is uniquely identifiable.

In [ ]:
For example, consider a table named students with a primary key column student_id. Each student in the table should have a unique student_id:

syntax:
    CREATE TABLE students (
        student_id INT PRIMARY KEY,
        name VARCHAR(50),
        age INT
    );

In [ ]:
Foreign Key:

A foreign key is a column or a set of columns in a table that establishes a link between data in two tables. It creates a relationship between two tables by referencing the primary key of another table. Here are some key points about foreign keys:

Referential Integrity: Foreign keys enforce referential integrity by ensuring that values in the foreign key column(s) match values in the primary key column(s) of the referenced table.
Child Table Relationship: The table containing the foreign key is called the child table or referencing table. It holds values that correspond to the primary key values in the parent table.
Cascading Actions: Foreign keys can be configured to perform cascading actions such as ON DELETE or ON UPDATE, which automatically propagate changes to related rows.

In [ ]:
For example, consider a table named orders with a foreign key column customer_id that references the customer_id column in a customers table:
    
    
    CREATE TABLE orders(
        order_id INT PRIMARY KEY,
        order_date DATE,
        customer_id INT,
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id)
    );
    
In this example, the customer_id column in the orders table is a foreign key that references the customer_id column in the customers table. This ensures that each order is associated with a valid customer.

In [ ]:
Q6. Write a python code to connect MySQL to python. 
Explain the cursor() and execute() method.

In [ ]:
Connecting to MySQL: First, make sure you have MySQL installed on your computer. If not, you can download it from the official MySQL website. Next, install the MySQL Connector using pip:

In [2]:
 pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.4.0-cp310-cp310-manylinux_2_17_x86_64.whl (19.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.4/19.4 MB 57.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.4.0
Note: you may need to restart the kernel to use updated packages.

In [ ]:
Now, create a Python script (e.g., connect_to_mysql.py) with the following content:

In [ ]:
import mysql.connector

#Create a connection to the database

mydb = mysql.connector.connect(
    host = "localhost",
    user = "yourusername",
    password = "yourpassword",
    database = "yourdatabase"
)
print("Connection succesful!")

#Close the connection
mydb.close()

In [ ]:
Explanation:
The mysql.connector.connect() method establishes a connection to the MySQL server. It takes parameters such as host, user, password, and database.
The mydb object represents the connection.
The print("Connection successful!") line confirms that the connection was successful.
Finally, we close the connection using mydb.close().

In [ ]:
Explanation:
The mysql.connector.connect() method establishes a connection to the MySQL server. It takes parameters such as host, user, password, and database.
The mydb object represents the connection.
The print("Connection successful!") line confirms that the connection was successful.
Finally, we close the connection using mydb.close().

In [ ]:
Here’s how you can use the cursor and execute methods:

In [ ]:
import mysql.connector

# Create a connection to the database
mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="yourdatabase"
)

print("Connection successful!")

# Close the connection
mydb.close()

In [ ]:
In this example:

We create a cursor using mycursor = mydb.cursor().
We execute a SELECT query to retrieve data from the employees table.
The fetchall() method retrieves all rows returned by the query.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
When executing an SQL query, the clauses are processed in a specific order. Let’s break it down:

In [ ]:
FROM Clause:
The FROM clause specifies the tables involved in the query, including any joins or subqueries.
If the query contains JOIN clauses, the tables are combined by merging rows before evaluating the FROM clause.
So, JOIN predates FROM in statements with joins

In [ ]:
WHERE Clause:
The WHERE clause filters rows based on specified conditions.
It operates on the table data processed by the JOIN and FROM clauses.
Rows that don’t satisfy the conditions are discarded, reducing the data to be processed further

In [ ]:
GROUP BY Clause:
If the query has a GROUP BY clause, it’s executed next.
The data is grouped based on specified columns.
This reduces the number of rows to be processed further, equal to the number of distinct values in the GROUP BY column.
Useful for calculating aggregate functions

In [ ]:
HAVING Clause:
If the query had a GROUP BY clause, the HAVING clause is evaluated immediately after GROUP BY.
It filters the grouped rows based on specified conditions.
Similar to the WHERE clause, it discards rows that don’t meet the conditions

In [ ]:
SELECT Clause:
The SELECT clause is executed next.
It computes expressions (arithmetic, aggregate, etc.) and aliases given in the SELECT clause.
Computation occurs on the smallest dataset after filtering and grouping operations from previous clauses.

In [ ]:
DISTINCT Clause:
The DISTINCT clause is executed after evaluating expressions and aliases.
It ensures that only unique rows are returned in the result set

In [ ]:
 Let’s create a simple example to illustrate the concepts we discussed

In [ ]:
Suppose we want to manage information about students and their courses. 
We’ll create two tables: Students and Courses.

In [ ]:
Creating Tables:
First, let’s create the tables using SQL statements.
We’ll assume that each student has a unique student ID (StudentID) and each course has a unique course code (CourseCode).

In [ ]:
#__Create the Students table
CREATE TABLE Students(
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Age INT
);

#__Create the Courses table

CREATE TABLE Courses (
    CourseCode VARCHAR(50) PRIMARY KEY,
    CourseName VARCHAR (100),
    Instructor VARCHAR(50)
);

In [ ]:
inserting Data:
Next, we’ll insert some sample data into both tables.

In [ ]:
#Insert student data 
INSERT INTO Students(StudentID,FirstName,LastName,Age)
VALUES
     (101, 'John', 'Doe', 20),
     (102, 'Alice', 'Smith',22),
     (103, 'Bob', 'Johnson',21);
    
#Insert course data 
INSERT INTO Courses(CourseCode, CourseName, Instructor)
VALUES
      ('CSCI101', 'Introduction to Computer Science','Dr.Brown'),
      ('MATH201' , 'Calculus I', 'Prof.White'),
      ('ENG202' , 'English Literature', 'Dr.Adams');

In [ ]:
Querying Data:
Now let’s retrieve information from our tables.

In [ ]:
#Retrieve student names and their enrolled coures
SELECT Students.FirstName, Student.LastName , Courses.CourseName
FROM Students
JOIN Enrollments ON Students.StudentsID = Enrollments.StudentID
JOIN Courses ON Enrollments.CourseCode = CourseCode;

In [ ]:
In this example:

We create two tables: Students and Courses.
We insert sample data for students and courses.
The query retrieves student names and the courses they are enrolled in.