In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd 
#Creating a Pandas Series
data= [4,8,15,16,23,42]
my_series = pd.Series(data)
#print series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [3]:
import pandas as pd
#Create a list with 10 elements
my_list = [ 4,8,15,16,23,42,7,9,10,11]
#Create a Pandas Series from the list
my_list = pd.Series(my_list)
#Print the Seres
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [5]:
import pandas as pd
#Create dictionary with data
data = {
    'Name':['Alice','Bob','Claire'],
    'Age':[25,30,27],
    'Gender':['Female','Male','Female']
}
#Create DataFrame
df = pd.DataFrame(data)
#print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
DataFrame:
    
In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is stored in rows and columns. Each column in a DataFrame is a Pandas Series.

In [ ]:
A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding any data type (e.g., integers, strings, floats, etc.). 
It's like a single column of data.

In [ ]:
here are two separate programs to demonstrate the difference between a DataFrame and a Series:

In [ ]:
Program 1: Using DataFrame

In [6]:
import pandas as pd
#Creating a DataFrame
data = {
    'Name':['Alice','Bob','Claire'],
    'Age' :[25,30,27],
    'Gender':['Female','Male','Female']
}
df =pd.DataFrame(data)
print("DataFrame:")
print(df)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Program 2: Using Series

In [7]:
import pandas as pd
#Creating a Series
age_series = pd.Series([25,30,27],name = 'Age')
print("Series (Age Column):")
print(age_series)

Series (Age Column):
0    25
1    30
2    27
Name: Age, dtype: int64

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
There are several common functions available in Pandas to manipulate data in a DataFrame. Some of these functions include:

1.head() and tail(): These functions allow you to view the first or last few rows of the DataFrame.
2.info(): Provides a concise summary of the DataFrame including the data types, number of non-null values, and memory usage.
3.describe(): Generates descriptive statistics that summarize the central tendency, dispersion, and shape of a dataset's distribution.
4.loc[] and iloc[]: These are used for selecting rows and columns by label (loc[]) or by integer position (iloc[]).
5.drop(): Allows you to drop specified labels from rows or columns.
6.fillna(): Fill missing values in the DataFrame with a specified value or method.
7.groupby(): Used to group data based on one or more columns and perform operations on the grouped data.
8.merge(), join(), concat(): These functions are used to combine DataFrames either by merging on columns, joining on index, or concatenating along an axis.
9.pivot_table(): Create a spreadsheet-style pivot table as a DataFrame.
10.apply(): Apply a function along an axis of the DataFrame.
11.sort_values(): Sort the DataFrame by specified column(s).
12.rename(): Rename index or columns labels.
13.astype(): Cast a pandas object to a specified dtype.
14.drop_duplicates(): Remove duplicate rows from the DataFrame.
15.isin(): Check whether values are contained in a Series or DataFrame

In [9]:
#1. head() and tail()
#Creating a DataFrame
data= {
    'Name':['Alice','Bob','Claire','David','Emma'],
    'Age': [25,30,27,35,28],
    'Gender':['Female','Male','Female','Male','Female'],
}
df = pd.DataFrame(data)

#Using head to display the first 3 rows
print("First 2 rows:")
print(df.head(2))
print("\n")

#Using tail to display the last 2 rows
print("Last 2 rows:")
print(df.tail(2))

First 2 rows:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male


Last 2 rows:
    Name  Age  Gender
3  David   35    Male
4   Emma   28  Female

In [10]:
#2. info()
#Creating a DataFrame
data= {
    'Name':['Alice','Bob','Claire','David','Emma'],
    'Age': [25,30,27,35,28],
    'Gender':['Female','Male','Female','Male','Female'],
}
df = pd.DataFrame(data)
#Display concise summary of the DataFrame
print("DataFrame Summary:")
print(df.info())

DataFrame Summary:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
dtypes: int64(1), object(2)
memory usage: 248.0+ bytes
None

In [11]:
#3. describe()
#Creating a DataFrame
data= {
    'Name':['Alice','Bob','Claire','David','Emma'],
    'Age': [25,30,27,35,28],
    'Gender':['Female','Male','Female','Male','Female'],
}
df = pd.DataFrame(data)
# Display descriptive statistics
print("Descriptive Statistics:")
print(df.describe())

Descriptive Statistics:
             Age
count   5.000000
mean   29.000000
std     3.807887
min    25.000000
25%    27.000000
50%    28.000000
75%    30.000000
max    35.000000

In [13]:
#Shape 
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Get the shape of the DataFrame
df_shape = df.shape

print("Shape of the DataFrame:")
print("Number of rows:", df_shape[0])
print("Number of columns:", df_shape[1])

Shape of the DataFrame:
Number of rows: 3
Number of columns: 3

In [14]:
#4. loc[] and iloc[]
#Selecting rows and colums by label
print("Using loc:")
print(df.loc[1:3,['Name','Age']])
print("\n")

#Selecting rows and columns by integer position
print("Using iloc:")
print(df.iloc[1:3,0:2])

Using loc:
     Name  Age
1     Bob   30
2  Claire   27


Using iloc:
     Name  Age
1     Bob   30
2  Claire   27

In [15]:
#5. drop()
#Dropping a column
df_dropped = df.drop(columns=['Age'])
print("DataFrames after dropping 'Age' column:")
print(df_dropped)

DataFrames after dropping 'Age' column:
     Name  Gender
0   Alice  Female
1     Bob    Male
2  Claire  Female

In [16]:
#6. fillna()
#Filling missing values in "Age" column with mean age
df['Age'].fillna(df['Age'].mean(), inplace=True)
print("DataFrame after filling missing values:")
print(df)

DataFrame after filling missing values:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [17]:
#7. groupby()
#Grouping by 'Gender'and calculating average age
grouped_df =df.groupby('Gender').mean()
print("Grouped DataFrame:")
print(grouped_df)

Grouped DataFrame:
         Age
Gender
Female  26.0
Male    30.0

/tmp/ipykernel_2881/1326121071.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_df =df.groupby('Gender').mean()

In [18]:
#8. merge()
#Creating another DataFrame for merging
data2={
    'Name': ['Alice','Bob','Claire'],
    'Salary':[50000,60000,55000]
}
df2 = pd.DataFrame(data2)

#Merging on 'Name' column
merged_df = pd.merge(df,df2,on='Name')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
     Name  Age  Gender  Salary
0   Alice   25  Female   50000
1     Bob   30    Male   60000
2  Claire   27  Female   55000

In [20]:
#9. pivot_table()
#Creating a pivot table
pivot_table = pd.pivot_table(df,index='Name',values='Age',aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Pivot Table:
        Age
Name
Alice    25
Bob      30
Claire   27

In [21]:
#10. apply()
# Applying a function to 'Age' column
df['Age']= df['Age'].apply(lambda x:x+1)
print("DataFrame after applying function:")
print(df)

DataFrame after applying function:
     Name  Age  Gender
0   Alice   26  Female
1     Bob   31    Male
2  Claire   28  Female

In [22]:
#11. sort_values()
#Sorting by 'Age' in descending order
sorted_df = df.sort_values(by = 'Age', ascending=False)
print(" DataFrame sorted by 'Age' in descending order:")
print(sorted_df)

 DataFrame sorted by 'Age' in descending order:
     Name  Age  Gender
1     Bob   31    Male
2  Claire   28  Female
0   Alice   26  Female

In [24]:
#12. rename()
#Renaming the 'Gender' column to 'Sex'
df_renamed = df.rename(columns={'Gender': 'Sex'})
print("DataFrame after renaminf 'Gender'to 'Sex':")
print(df_renamed)

DataFrame after renaminf 'Gender'to 'Sex':
     Name  Age     Sex
0   Alice   26  Female
1     Bob   31    Male
2  Claire   28  Female

In [25]:
#13. astype()
#Converting 'Age' column to float
df['Age'] = df['Age'].astype(float)
print("DataFrame after converting 'Age' column to float:")
print(df)

DataFrame after converting 'Age' column to float:
     Name   Age  Gender
0   Alice  26.0  Female
1     Bob  31.0    Male
2  Claire  28.0  Female

In [26]:
#14. drop_duplicates()
#Dropping duplicate rows 
df_no_duplicates = df.drop_duplicates()
print("DataFrames after dropping duplicates:")
print(df_no_duplicates)

DataFrames after dropping duplicates:
     Name   Age  Gender
0   Alice  26.0  Female
1     Bob  31.0    Male
2  Claire  28.0  Female

In [27]:
#15. isin()
#Checking if values are contained in a series
isin_check = df['Name'].isin(['Alice', 'Emma', 'John'] )
print("DataFrame showing which names are present:")
print(isin_check)

DataFrame showing which names are present:
0     True
1    False
2    False
Name: Name, dtype: bool

In [31]:
#Adding Rows/Columns:
#Adding Rows by Using append():

import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

#Row to be added
new_row = {'Name':'David','Age':35,'Gender':'Male'}
#Append the new row
df = df.append(new_row,ignore_index=True)
print("DataFrame after adding a new row:")
print(df)

#Using loc[]:
#Add a row using loc[]
df.loc[len(df)] = ['Emma',28,'Female']
print("DataFrame after adding another row:")
print(df)

#Adding Columns:
#Adding a single column:
# Adding a new column 'City'
df['City'] = ['New York', 'Los Angeles', 'Chicago', 'San Francisco', 'Boston']

print("DataFrame after adding a new column:")
print(df)

#Adding multiple columns:
# Adding multiple columns at once
df = pd.concat([df, pd.DataFrame({'Salary': [50000, 60000, 55000, 65000, 52000]})], axis=1)

print("DataFrame after adding multiple columns:")
print(df)

DataFrame after adding a new row:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3   David   35    Male
DataFrame after adding another row:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
3   David   35    Male
4    Emma   28  Female
DataFrame after adding a new column:
     Name  Age  Gender           City
0   Alice   25  Female       New York
1     Bob   30    Male    Los Angeles
2  Claire   27  Female        Chicago
3   David   35    Male  San Francisco
4    Emma   28  Female         Boston
DataFrame after adding multiple columns:
     Name  Age  Gender           City  Salary
0   Alice   25  Female       New York   50000
1     Bob   30    Male    Los Angeles   60000
2  Claire   27  Female        Chicago   55000
3   David   35    Male  San Francisco   65000
4    Emma   28  Female         Boston   52000

/tmp/ipykernel_2881/1846131313.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row,ignore_index=True)

In [32]:
#Removing Rows:
#Using drop():
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [25, 30, 27, 35, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

#Remove the rows with index 2
df = df.drop(index=2)
print("DataFrame after removing a row:")
print(df)

DataFrame after removing a row:
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
3  David   35    Male
4   Emma   28  Female

In [33]:
#Removing Columns:
#Using drop() with axis=1:
#Remove the 'Gender ' column
df = df.drop(columns= 'Gender')
print("DataFrame after removing the 'Gender' column:")
print(df)

DataFrame after removing the 'Gender' column:
    Name  Age
0  Alice   25
1    Bob   30
3  David   35
4   Emma   28

In [39]:
import pandas as pd

# Create the first DataFrame
data1 = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
}
df1 = pd.DataFrame(data1)

# Create the second DataFrame
data2 = {
    'Name': ['Bob', 'Claire', 'David'],
    'Salary': [60000, 55000, 65000]
}
df2 = pd.DataFrame(data2)

# Merge the DataFrames based on the 'Name' column
merged_df_inner = pd.merge(df1, df2, on='Name')

print("Inner join result:")
print(merged_df_inner)

#Example 2: Left Join
# Merge the DataFrames using a left join
merged_df_left = pd.merge(df1, df2, on='Name', how='left')

print("\nLeft join result:")
print(merged_df_left)

#Example 3: Right Join
# Merge the DataFrames using a right join
merged_df_right = pd.merge(df1, df2, on='Name', how='right')

print("\nRight join result:")
print(merged_df_right)

#Example 4: Outer Join
# Merge the DataFrames using an outer join
merged_df_outer = pd.merge(df1, df2, on='Name', how='outer')

print("\nOuter join result:")
print(merged_df_outer)

Inner join result:
     Name  Age  Salary
0     Bob   30   60000
1  Claire   27   55000

Left join result:
     Name  Age   Salary
0   Alice   25      NaN
1     Bob   30  60000.0
2  Claire   27  55000.0

Right join result:
     Name   Age  Salary
0     Bob  30.0   60000
1  Claire  27.0   55000
2   David   NaN   65000

Outer join result:
     Name   Age   Salary
0   Alice  25.0      NaN
1     Bob  30.0  60000.0
2  Claire  27.0  55000.0
3   David   NaN  65000.0

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Series:
You can modify existing elements directly, showing mutability.
Adding a new element to the Series effectively creates a new Series because the index is immutable in the sense that its size cannot be changed without creating a new Series.
Removing an element also results in a new Series.


DataFrame:
The DataFrame is mutable as you can modify existing elements, add new columns, and rows.
Removing a row results in a new DataFrame without the removed row.


Key Points:
Series Values: Mutable (you can change the values).
Series Size: Immutable (adding/removing elements results in a new Series).
DataFrame: Fully mutable (values, columns, and rows can be changed, added, or removed).

In conclusion, pandas Series is mutable in terms of its values, but changes to its size (like adding or removing elements) result in creating a new Series. DataFrame is fully mutable, allowing changes in both structure and data

In [ ]:
Mutability Example in Pandas Series and DataFrame

In [5]:
import pandas as pd 

#Demonstrating mutability in Series
print("__Series__")
#Create a Series
series = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
print("Original Series:")
print(series)

#Modify an element in the Series (this is mutable)
series['b'] = 100
print("\nSeries after modifying an element:")
print(series)

#Add a new element to the Series (actually creates a new Series with extend index)
series['f']=60
print("\nSeries after adding an element:")
print(series)

#Remove an element from the Series(creates a new Series without the element)
series = series.drop('c')
print("\nSeries after removing an element:")
print(series)

__Series__
Original Series:
a    10
b    20
c    30
d    40
e    50
dtype: int64

Series after modifying an element:
a     10
b    100
c     30
d     40
e     50
dtype: int64

Series after adding an element:
a     10
b    100
c     30
d     40
e     50
f     60
dtype: int64

Series after removing an element:
a     10
b    100
d     40
e     50
f     60
dtype: int64

In [9]:
#Demonstrating mutability in DataFrames
print("\n===DataFrame==")

#Create a DataFrame
data = {
    'A':[1,2,3,4],
    'B':[10,20,30,40]
}
df=pd.DataFrame(data,index=['a','b','c','d'])
print("Original DataFrame:")
print(df)

#Modify an element in the DataFrame (this is mutable)
df.loc['b','A']=200
print("\nDataFrame after modifing an element:")
print(df)

#Add a new column to the DataFrame(this is mutable)
df['C']=[100,200,300,400]
print("\nDataFrame after adding a new column:")
print(df)

#Add a new row to the DataFrame(this is mutable)
df.loc['e'] = [5,50,500]
print("\nDataFrame after adding a new row:")
print(df)

===DataFrame==
Original DataFrame:
   A   B
a  1  10
b  2  20
c  3  30
d  4  40

DataFrame after modifing an element:
     A   B
a    1  10
b  200  20
c    3  30
d    4  40

DataFrame after adding a new column:
     A   B    C
a    1  10  100
b  200  20  200
c    3  30  300
d    4  40  400

DataFrame after adding a new row:
     A   B    C
a    1  10  100
b  200  20  200
c    3  30  300
d    4  40  400
e    5  50  500

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
Imagine we’re analyzing the performance of a fictional company called TechCo. We have the following data:

Employee Data:
Employee names: ‘Alice’, ‘Bob’, ‘Charlie’, ‘David’
Years of experience: 5, 8, 3, 10
Salary (in thousands): 80, 120, 65, 150
Project Data:
Project IDs: ‘P101’, ‘P102’, ‘P103’, ‘P104’
Project completion percentage: 90%, 75%, 60%, 95%
Department Data:
Department codes: ‘HR’, ‘Engineering’, ‘Marketing’, ‘Finance’
Number of employees: 12, 25, 8, 15
Now, let’s create a comprehensive DataFrame combining these Series:

In [11]:
import pandas as pd 
#Create Employee Series
employees = pd.Series(['Alice','Bob','Charlie','David'])
experience = pd.Series([5,8,3,10])
salary =pd.Series([80,120,65,150])

#Create Project Series
projects = pd.Series(['P101','P102','P103','P104'])
completion_percentage = pd.Series([90,75,60,95])

#Create Deparment Series
deparments= pd.Series(['HR', 'Engineering','Marketing','Finance'])
num_employees= pd.Series([12,25,8,15])

#Combine into dictionaries
employees_frame= {'Employee':employees,'Experience(y)':experience,'Salary(in k)':salary
                 }
project_frame = {'ID':projects,'Completion(in %)':completion_percentage}
department_frame = { 'Code':departments,'No Employ':num_employees}

#Create DataFrames
employee_df =pd.DataFrame(employees_frame)
project_df= pd.DataFrame(project_frame)
department_df = pd.DataFrame(department_frame)

#Merge DataFrames
techo_df= pd.merge(employee_df,project_df,left_index=True,right_index=True)
techo_df= pd.merge(techo_df,department_df,left_index=True,right_index=True)

print(techo_df)

  Employee  Experience(y)  Salary(in k)    ID  Completion(in %)         Code  \
0    Alice              5            80  P101                90           HR
1      Bob              8           120  P102                75  Engineering
2  Charlie              3            65  P103                60    Marketing
3    David             10           150  P104                95      Finance

   No Employ
0         12
1         25
2          8
3         15