In [ ]:
Pandas Advance-1

In [ ]:
Q1. List any five functions of the pandas library with execution.

In [ ]:
1.read_csv(): This function is used to read data from a CSV file into a pandas DataFrame.

In [ ]:
import pandas as pd
#Read a CSV file into a DataFrame
df=pd.read_csv('data.csv')
print(df.head())

In [ ]:
2.head(): This function is used to display the first few rows of a DataFrame. 
By default, it displays the first 5 rows.

# Display the first few rows of the DataFrame
print(df.head())

In [ ]:
3.describe(): This function generates descriptive statistics of the DataFrame like count, mean, standard deviation, etc.

In [ ]:
# Generate descriptive statistics
print(df.describe())

In [ ]:
4.info(): This function provides a concise summary of a DataFrame including the data types of each column and memory usage.

# Display DataFrame info
print(df.info())

In [ ]:
5.groupby(): This function is used to split the DataFrame into groups based on some criteria and then applies a function to each group separately.


# Group data by a specific column
grouped_data = df.groupby('column_name')
print(grouped_data.mean())

In [ ]:
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd

# Create a sample DataFrame
df = pd.DataFrame({
    'A': [10, 20, 30, 40],
    'B': [50, 60, 70, 80],
    'C': [90, 100, 110, 120]
})

# Add some additional rows to make it a tough example
for i in range(4, 8):
    df = df.append({'A': i * 10, 'B': i * 10 + 10, 'C': i * 10 + 20}, ignore_index=True)

# Print the original DataFrame
print("Original DataFrame:")
print(df)

def reindex_dataframe(df):
    # Reset the index and drop the existing index
    df.reset_index(drop=True, inplace=True)
    
    # Create a new index starting from 1 and incrementing by 2 for each row
    new_index = pd.Series(range(1, len(df) * 2, 2))
    
    # Assign the new index to the DataFrame
    df.index = new_index
    
    return df

# Reindex the DataFrame
df_reindexed = reindex_dataframe(df)
print("\nDataFrame with new index:")
print(df_reindexed)

Original DataFrame:
    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120
4  40  50   60
5  50  60   70
6  60  70   80
7  70  80   90

DataFrame with new index:
     A   B    C
1   10  50   90
3   20  60  100
5   30  70  110
7   40  80  120
9   40  50   60
11  50  60   70
13  60  70   80
15  70  80   90

/tmp/ipykernel_3196/1601086273.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'A': i * 10, 'B': i * 10 + 10, 'C': i * 10 + 20}, ignore_index=True)
/tmp/ipykernel_3196/1601086273.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'A': i * 10, 'B': i * 10 + 10, 'C': i * 10 + 20}, ignore_index=True)
/tmp/ipykernel_3196/1601086273.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'A': i * 10, 'B': i * 10 + 10, 'C': i * 10 + 20}, ignore_index=True)
/tmp/ipykernel_3196/1601086273.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'A': i * 10, 'B': i * 10 + 10, 'C': i * 10 + 20}, ignore_index=True)

In [4]:
df

    A   B    C
0  10  50   90
1  20  60  100
2  30  70  110
3  40  80  120

In [ ]:
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [15]:
import pandas as pd
#Assuming you have a DataFrame named 'df' with a column 'Values' containg the values[10,20,30,40,50]
def calculate_sum_of_first_three_values(df):
    #Get the first three values from the 'Values' column
    first_three_values = df['Values'][:3]
    
    #Calculate the sum
    total_sum = first_three_values.sum()
    
    #print the result
    print(f"The sum of the first three values in the 'Values'column is :{total_sum}")
    
#example usage
df = pd.DataFrame({'Values':[10,20,30,40,50]})
calculate_sum_of_first_three_values(df)

The sum of the first three values in the 'Values'column is :60

In [ ]:
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [17]:
import pandas as pd

def add_word_count_column(df):
    #Check if 'Text' column exits in the DataFrame
    if 'Text' not in df.columns:
        print("Error : 'Text' column not found in the DataFrame.")
        return
    #Create 'Word_count' column by applying a lambda function to count words
    df['Word_Count'] = df['Text'].apply(lambda x:len(str(x).split()))
    return df
#Example usage 
#Assuming df is your existing DataFrame with a column named 'Text'
df = pd.DataFrame({
    'Text':[
        'This is the first row.',
        'Her is the second row with more words.',
        'Short row.',
        'Another example row for testing the words count.'
    ]
})
#Call the function
df = add_word_count_column(df)
print(df)

                                               Text  Word_Count
0                            This is the first row.           5
1            Her is the second row with more words.           8
2                                        Short row.           2
3  Another example row for testing the words count.           8

In [ ]:
Q5. How are DataFrame.size() and DataFrame.shape() different?

In [ ]:
DataFrame.size:

Definition: The size attribute returns the total number of elements in the DataFrame.
Calculation: It is calculated as the number of rows multiplied by the number of columns.
Type: Returns an integer.

In [18]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

print(df.size)

9

In [ ]:
DataFrame.shape:

Definition: The shape attribute returns a tuple representing the dimensions of the DataFrame.
Content: The tuple contains two values - the number of rows and the number of columns.
Type: Returns a tuple of two integers.

In [19]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

print(df.shape)

(3, 3)

In [ ]:
Q6. Which function of pandas do we use to read an excel file?

In [ ]:
 To read Excel files in Python using Pandas, you can use the read_excel() function. This function allows you to read data from an Excel file and load it into a Pandas DataFrame. Let me show you how to use it:

In [ ]:
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('/path/to/your/excel/file.xlsx')

# If you want to read a specific sheet, you can specify the sheet name
# For example:
# df = pd.read_excel('/path/to/your/excel/file.xlsx', sheet_name='Sheet1')

# Now you can work with the data in the DataFrame 'df'
# For instance, you can display the first few rows using:
print(df.head())

In [ ]:
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [23]:
import pandas as pd

#Sample DataFrame with an 'Email' column
data = {'Email':['john.doe@example.com' , 'jane.smith@example.com','alice.wonderland@example.com']}
df = pd.DataFrame(data)
        
#Extract the username from the emails address
df['Username'] = df['Email'].str.split('@').str[0]
print(df)

                          Email          Username
0          john.doe@example.com          john.doe
1        jane.smith@example.com        jane.smith
2  alice.wonderland@example.com  alice.wonderland

In [ ]:
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

For example, if df contains the following values:
A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [24]:
import pandas as pd

def filter_dataframe(df):
    """
    Filters rows where 'A' > 5 and 'B' < 10.
    
    Args:
        df (pd.DataFrame): Input DataFrame with columns 'A', 'B', and 'C'.
    
    Returns:
        pd.DataFrame: New DataFrame containing only the selected rows.
    """
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows

# Example usage:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

filtered_df = filter_dataframe(df)
print(filtered_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [ ]:
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [25]:
import pandas as pd

#Create a sample DataFrame
data = {'Values':[10,15,20,25,30]}
df= pd.DataFrame(data)

#Calculate mean,median , and standard deviation
mean_value= df['Values'].mean()
median_value= df['Values'].median()
std_deviation =df['Values'].std()

print(f"Mean:{mean_value:.2f}")
print(f"Median:{median_value:.2f}")
print(f"Standard Deviation:{std_deviation:.2f}")

Mean:20.00
Median:20.00
Standard Deviation:7.91

In [ ]:
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [30]:
import pandas as pd

data = {
    'Date': ['2024-05-01', '2024-05-02', '2024-05-03', '2024-05-04', '2024-05-05', 
             '2024-05-06', '2024-05-07', '2024-05-08', '2024-05-09', '2024-05-10'],
    'Sales': [100, 150, 200, 180, 250, 220, 300, 280, 320, 350]
}

df = pd.DataFrame(data)

import pandas as pd

def calculate_moving_average(df):
    # Convert 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Sort DataFrame by date
    df.sort_values(by='Date', inplace=True)
    
    # Calculate moving average with window size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example usage:
# Assuming df is your DataFrame with columns 'Date' and 'Sales'
df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2024-05-01    100     100.000000
1 2024-05-02    150     125.000000
2 2024-05-03    200     150.000000
3 2024-05-04    180     157.500000
4 2024-05-05    250     176.000000
5 2024-05-06    220     183.333333
6 2024-05-07    300     200.000000
7 2024-05-08    280     225.714286
8 2024-05-09    320     250.000000
9 2024-05-10    350     271.428571

In [ ]:
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday

The function should return the modified DataFrame.

In [ ]:

To achieve this task, you can use the pandas library in Python, specifically the datetime functionality provided by pandas. Here is a step-by-step guide and the corresponding code:

Ensure the 'Date' column is in datetime format: Convert the 'Date' column to datetime if it is not already.
Extract the weekday name: Use the .dt.day_name() method to extract the weekday names.
Add the 'Weekday' column: Create a new column 'Weekday' in the DataFrame with the extracted weekday names

In [1]:
import pandas as pd

def add_weekday_column(df):
    #Convert the 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    #Create the 'Weekday'column
    df['Weekday'] = df['Date'].dt.day_name()
    return df 

#Example usage
data = {
    'Date': ['2023-01-01','2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}
df = pd.DataFrame(data)
modified_df = add_weekday_column(df)
print(modified_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [ ]:
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [6]:
import pandas as pd

def select_rows_in_date_range(df):
    # Convert the 'Date' column to datetime
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the start and end dates
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Filter the DataFrame for dates within the specified range
    mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
    filtered_df = df[mask]
    
    return filtered_df

# Example usage
data = {
    'Date': ['2022-12-31', '2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01'],
    'Value': [10, 20, 30, 40, 50]
}

df = pd.DataFrame(data)
filtered_df = select_rows_in_date_range(df)
print(filtered_df)

        Date  Value
1 2023-01-01     20
2 2023-01-15     30
3 2023-01-31     40

In [ ]:
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [ ]:
To use the basic functions of Pandas, the first and foremost necessary library that needs to be imported is pandas. 
You can import it with the following line of code:

In [ ]:
import pandas as pd

In [ ]:
This import statement is essential for accessing all the functionalities provided by the Pandas library. 
By convention, pandas is imported with the alias pd for ease of use.